
.recommended-wrapper {
    display: flex;
    margin: 0 20px;
}

.recommended-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommended-title {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 28px;
} 

.esport-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    line-height: 1.35;
}

.esportEvents-title {
    font-size: 3rem;
    font-weight: 700;
    margin-right: 60px;
    cursor: pointer;
}

.esportEvents-more {
    color: rgb(97, 96, 96);
    cursor: pointer;
}

.esport-title:hover,
.recommended-title:hover {
    color: rgb(56, 56, 56);
}

.recommended-slide {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.recomment-slide-icon {
    margin-right: 12px;
    padding: 8px;
    font-size: 1.9rem;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

.recommended-left {
    display: flex;
    margin: 20px 14px;
}


.re-img-left {
    width: 526px;
    height: 300px;
    margin-right: 28px;
    border-radius: 4px;
    cursor: pointer;
}

.re-right {
    display: flex;
    flex-direction: column;
}

.re-img-right {
    width: 276px;
    height: 136px;
    margin-bottom: 28px;
    border-radius: 4px;
    cursor: pointer;
}

.recommended-right {
    max-width: 456px;
    overflow-x: hidden;
}

.esportEvent-container {
    display: flex;
    transition: all 1s ease;
}

.re-img-right:hover,
.re-img-left:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 5px 10px 0 rgb(68 0 128 / 40%);
}